/* ------ general
-----------------------------------------------*/

body {
font-family:Arial, Helvetica, sans-serif;
background:url(../img/grid.jpg) repeat;
font-size:11px;
}

.wrapper {
margin:0 auto;
width:1000px;
position:relative;
}


#cont_txt {

font-size: 22px;
width:170px;
height:75px;
}

#world_map {
border:1px solid #000;
float:left;
clear:both;
width:600px;
height:300px;
}
#world_map .plus {
	
	margin-top: -295px;
	margin-left: 15px;
	width:16px;
	height:16px;
	background:url(../img/plus.gif) no-repeat;
	opacity:0.9;
	}
	
#world_map .minus {

	margin-top:3px;
	margin-left: 15px;
	width:16px;
	height:16px;
	background:url(../img/minus.gif) no-repeat;
	opacity:0.9;
	}
	
#contenient_map .plus {
	margin-top: -195px;
	margin-left: 15px;
	width:16px;
	height:16px;
	background:url(../img/plus.gif) no-repeat;
	opacity:0.9;
	}
	
#contenient_map .minus {
	margin-top:3px;
	margin-left: 15px;
	width:16px;
	height:16px;
	background:url(../img/minus.gif) no-repeat;
	opacity:0.9;
	}

#country_map .plus {
	margin-top: -195px;
	margin-left: 15px;
	width:16px;
	height:16px;
	background:url(../img/plus.gif) no-repeat;
	opacity:0.9;
	}
	
#country_map .minus {
	margin-top:3px;
	margin-left: 15px;
	width:16px;
	height:16px;
	background:url(../img/minus.gif) no-repeat;
	opacity:0.9;
	}

#contenient_map {
border:1px solid #000;
clear:both;
width:300px;
height:200px;
display: inline-block;
margin-left: 20px;

}
#country_map {
border:1px solid #000;
clear:both;
width:300px;
height:200px;
display: inline-block;
margin-left: 20px;
margin-top: 4px;
}

.point {
position:absolute;
display:none;
padding:0px 0px;
font-size:14px;
font-weight:bold;
-moz-border-radius:8px;
height:55px;
width:70px;
}

.point .close {
display:block;
position:absolute;
top:1px;
right:5px;
width:64px;
height:64px;
text-indent:-9999px;
outline:none;
background:url(../img/back.png) no-repeat;
}

.point img {
vertical-align:middle;
margin-right:10px;
}

a img {
border:none;
}

.countryinfo {
		border:1px solid #000;
    display: none;
    overflow: auto;
    position: absolute;
    height: auto;    
    width: 200px;
    -moz-border-radius:8px;
    cursor:pointer
}

.regioninfo {
	border:1px solid #000;
    display: none;
    height: auto;
    overflow: auto;
    position: absolute;
    width: 200px;
    -moz-border-radius:8px;	
    cursor:pointer
}

.city_attr {
	fill: "#0f0";
	stroke: "none";
opacity: .6
}

.tab {
	padding:20px 10px;
	font-size:18px;
	cursor:pointer;
}

.tabheader a:hover {
	color:blue;
}

.tabheader a{
	color:#000;
	text-decoration:none;
}


.nkhine_map {
	background:url(../img/gomap.png) no-repeat center left;
	background-size:30px 30px;
	height:50px;
	padding-left:40px;
  padding-top: 20px;
}

.chat {
	background:url(../img/chart.png) no-repeat center left;
	background-size:30px 30px;
	height:50px;
	padding-left:40px;
  padding-top: 20px;
}

.nkhine_map:hover {
	background:url(../img/gomap_hover.png) no-repeat center left;
	background-size:30px 30px;
	height:50px;
	padding-left:40px;
  padding-top: 20px;
}

.chat:hover {
	background:url(../img/chart_hover.png) no-repeat center left;
	background-size:30px 30px;
	height:50px;
	padding-left:40px;
  padding-top: 20px;
}

.tabheader {
	margin:10px;
	margin-top:20px;	
}

.man {
	background:url(../img/man.png) no-repeat;
	background-size:20px 20px;
	height:20px;
	padding-left:20px;
  padding-top: 10px;
}

.man:hover {
	background:url(../img/man_act.png) no-repeat;
	background-size:20px 20px;
	height:20px;
	padding-left:20px;
  padding-top: 10px;
}

.man1 {
		position:relative;
    left: -500px;
    margin-top: 105px;
}

.man2 {
		position:relative;
    left: -150px;
    top: -50px;
}

.man3 {
		position:relative;
    left: -100px;
    margin-top: 80px;
}