
body {
font-family:sans-serif;
font-size:12px;
background-color:#CAC9BD;
}

.bottom_banner {
background: url(../image/preview.png) no-repeat left top;
background-size:100% 125px;
width: 960px;
}

.chat_panel_top {
	
	background:url(../image/chat_preview_top.png) no-repeat top left;
	background-size: 100% 20px;
	height:20px;
}

.chat_panel {
	background:url(../image/chat_preview_middle.png) no-repeat top left;
	background-size: 100% 100%;
	padding-left:5px;
}

.chat_panel_bottom {
	background:url(../image/chat_preview_bottom.png) no-repeat top left;
	background-size: 100% 25px;
	height:25px;
}

.panel {
	padding-left:15px;
	padding-right:5px;
}

/* root element for tabs */
.tabs {
margin:0 !important;
height:28px;
}

/* single tab */
.tabs li {
float:left;
margin:0;
list-style-type:none;
}

/* link inside the tab. uses a background image */
.tabs a {
float:left;
display:block;
padding: 15px 20px 15px 45px;
text-decoration:none;
position:relative;
outline:none;
font-size:15px;
text-align:center;
background-size: 100% 88%;
color:#000;
}

.tabs a:hover {
color:#333;
}

/* selected tab */
.tabs a.current {
border-top:5px solid #FFF;
color:#000;
cursor:default;
top: -5px;
}


/* tab pane */
.pane {
display:none;
min-height:50px;
background-color:#FFF;
border:1px solid #DDD;
-moz-border-radius: 5px;
border-radius: 5px;
}

.cancel_button {
	background:url(../image/cancel_button.png) no-repeat;
	background-size:100% 30px;
  float: right;
	height:30px;
	width:80px;
	margin:5px;
	border: medium none;
	display:none;
}

.cancel_button:hover {
  color:orange;	
}

.post_button:hover {
  color:green;		
}

.post_button {
		background:url(../image/post_button.png) no-repeat;
		background-size:100% 30px;
    float: right;
		height:30px;
		width:180px;
		margin:5px;
		border: medium none;
		display:none;
}

.option_button {
		background:url(../image/option.png) no-repeat;
		background-size:30px 30px;
    padding-left: 40px;
    padding-top: 10px;
    float: right;
		height:30px;
		width:80px;
		margin:5px;
		pointer:cursor;
}

.invite_button {
		background:url(../image/invite.png) no-repeat;
		background-size:30px 30px;
	  padding-left: 40px;
    padding-top: 10px;
    float: right;
		height:30px;
		width:80px;
		margin:5px;
		pointer:cursor;
}

.comment {
	background:url(../image/comment.png) no-repeat;
	background-size: 100% 88%;
	padding-left:20px;
}

.comment.current {
	background:url(../image/act_comment.png) no-repeat;
	background-size: 100% 88%;
}

.files {
	background:url(../image/files.png) no-repeat;
	background-size: 100% 88%;
	padding-left:20px;
}

.files.current {
	background:url(../image/act_files.png) no-repeat;
	background-size: 100% 88%;
}

.email {
	background:url(../image/email.png) no-repeat;
	background-size: 100% 88%;
	padding-left:20px;
}

.email.current {
	background:url(../image/act_email.png) no-repeat;
	background-size: 100% 88%;
}

.event {
	background:url(../image/event.png) no-repeat;
	background-size: 100% 88%;
	padding-left:20px;
}

.event.current {
	background:url(../image/act_event.png) no-repeat;
	background-size: 100% 88%;
}

.map {
	background:url(../image/map.png) no-repeat;
	background-size: 100% 88%;
	padding-left:20px;
}

.map.current {
	background:url(../image/act_map.png) no-repeat;
	background-size: 100% 88%;
}

.empty_box {
	border:2px solid #D7D7D7;
	width:400px;
	height:600px;
	display:none;
	background-color:#FFF;
	border-radius:15px;
	-moz-border-radius:15px;
  float: right;
  position: relative;
  top: -50px;
}

.file_upload {
 position:absolute;
 margin-left:550px; 
 margin-top:100px; 
 width:300px;
 height:200px;	
 background-color:#FFF;
 border:5px solid #D7D7D7;
 border-radius:5px;
 -moz-border-radius:5px;
 display:none;
 z-index:9999;
}

.tab {
	padding:20px 10px;
	font-size:18px;
	cursor:pointer;
}

.tabheader a:hover {
	color:blue;
}

.tabheader a{
	color:#000;
	text-decoration:none;
}

.top_box {
	background:url(../image/post_button.png) no-repeat;
	background-size:100% 50px;
	height:50px;
}

.close_box {
  margin-left: 350px;
  margin-top: 10px;
  position: absolute;
	background:url(../image/closeBtn.png) no-repeat;
	background-size:30px 30px;
	width:30px;
	height:30px;
}

.nkhine_map {
	background:url(../image/gomap.png) no-repeat center left;
	background-size:30px 30px;
	height:50px;
	padding-left:40px;
  padding-top: 20px;
}

.chat {
	background:url(../image/chart.png) no-repeat center left;
	background-size:30px 30px;
	height:50px;
	padding-left:40px;
  padding-top: 20px;
}

.nkhine_map:hover {
	background:url(../image/gomap_hover.png) no-repeat center left;
	background-size:30px 30px;
	height:50px;
	padding-left:40px;
  padding-top: 20px;
}

.chat:hover {
	background:url(../image/chart_hover.png) no-repeat center left;
	background-size:30px 30px;
	height:50px;
	padding-left:40px;
  padding-top: 20px;
}

.tabheader {
	margin:10px;
	margin-top:20px;	
}

.mceEditor {
	width:auto;
}

#elm2_ifr {
  max-width: 930px;
  min-width: 930px;
}

#elm2_toolbargroup {
	position:absolute;
	margin-left:800px;
}